* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

#h1 {
    display: block;
    text-align: center;
    font-size: 9em;
    font-family: helvetica;
}

#but {
    display: block;
    text-align: center;
    padding: 10px;
}

.button {
    padding: 15px;
    font-size: 15px;
    color: white;
    background-color: blueviolet;
    margin: 0.5px;
    border-radius: 10px;
}

.button:hover {
    background-color: rgb(45, 45, 139);
}